// IMPORTS ---------------------------------------------------------------------
	@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700')
	@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i')

// COLORS ----------------------------------------------------------------------
	// Red
		$RedWhite		 = #ffbcaf
		$RedLight		 = #ff5131
		$Red			 = #d50000
		$RedDark		 = #9b0000

	// Pink
		$PinkWhite		 = #ffb2dd
		$PinkLight		 = #fd558f
		$Pink			 = #c51162
		$PinkDark		 = #8e0038

	// Purple
		$PurpleWhite	 = #ffb2ff
		$PurpleLight	 = #e254ff
		$Purple			 = #aa00ff
		$PurpleDark		 = #7200ca

	// DeepPurple
		$DeepPurpleWhite = #e7b9ff
		$DeepPurpleLight = #9d46ff
		$DeepPurple		 = #6200ea
		$DeepPurpleDark	 = #0a00b6

	// Indigo
		$IndigoWhite	 = #c0cfff
		$IndigoLight	 = #7a7cff
		$Indigo			 = #304ffe
		$IndigoDark		 = #0026ca

	// Blue
		$BlueWhite		 = #b6e3ff
		$BlueLight		 = #768fff
		$Blue			 = #2962ff
		$BlueDark		 = #0039cb

	// LightBlue
		$LightBlueWhite	 = #b5ffff
		$LightBlueLight	 = #64c1ff
		$LightBlue		 = #0091ea
		$LightBlueDark	 = #0064b7

	// Cyan
		$CyanWhite		 = #baffff
		$CyanLight		 = #62ebff
		$Cyan			 = #00b8d4
		$CyanDark		 = #0088a3

	// Teal
		$TealWhite		 = #dbffff
		$TealLight		 = #5df2d6
		$Teal			 = #00bfa5
		$TealDark		 = #008e76

	// Green
		$GreenWhite		 = #ecfffd
		$GreenLight		 = #5efc82
		$Green			 = #00c853
		$GreenDark		 = #009624

	// LightGreen
		$LightGreenWhite = #ffffc2
		$LightGreenLight = #9cff57
		$LightGreen		 = #64dd17
		$LightGreenDark	 = #1faa00

	// Lime
		$LimeWhite		 = #ffffb3
		$LimeLight		 = #e4ff54
		$Lime			 = #aeea00
		$LimeDark		 = #79b700

	// Yellow
		$YellowWhite	 = #ffffbf
		$YellowLight	 = #ffff52
		$Yellow			 = #ffd600
		$YellowDark		 = #c7a500

	// Amber
		$AmberWhite		 = #ffffb0
		$AmberLight		 = #ffdd4b
		$Amber			 = #ffab00
		$AmberDark		 = #c67c00

	// Orange
		$OrangeWhite	 = #ffffb1
		$OrangeLight	 = #ff9e40
		$Orange			 = #ff6d00
		$OrangeDark		 = #c43c00

	// DeepOrange
		$DeepOrangeWhite = #ffd0b0
		$DeepOrangeLight = #ff6434
		$DeepOrange		 = #dd2c00
		$DeepOrangeDark	 = #a30000

	// Brown
		$BrownWhite		 = #d3b8ae
		$BrownLight		 = #9c786c
		$Brown			 = #6d4c41
		$BrownDark		 = #40241a

	// BlueGrey
		$BlueGreyWhite	 = #edf3f8
		$BlueGreyLight	 = #455a64
		$BlueGrey		 = #263238
		$BlueGreyDark	 = #000a12

	// Theme colors
		$primary = #9f1f2e

	// Theme mode contrasts
		$LightThemeBG = #fff
		$LightThemeBGBright = #f4f4fb
		$LightThemeBGBrighter = #ececf4

		$DarkThemeBG = #0b1013
		$DarkThemeBGBright = #131b20
		$DarkThemeBGBrighter = #1d2830

// FONT CONFIG -----------------------------------------------------------------
	// Size
	$BasicFS = 1rem

	$HeadingFS1 = 2.25rem
	$HeadingFS2 = 2rem
	$HeadingFS3 = 1.75rem
	$HeadingFS4 = 1.5rem
	$HeadingFS5 = 1.25rem
	$HeadingFS6 = 1rem

	$DisplayFS1 = 6rem
	$DisplayFS2 = 5rem
	$DisplayFS3 = 4rem
	$DisplayFS4 = 3rem

	$SmallFS1 = .85rem
	$SmallFS2 = .75rem
	$SmallFS3 = .65rem
	$SmallFS4 = .5rem

	// Color
	$FontColorDark = #000
	$FontColorLight = #fff

	$BrightFontColorDark = rgba(#000, .3)
	$BrightFontColorLight = rgba(#fff, .3)

	$ThinFW()
		font-weight: 100
	$LightFW()
		font-weight: 300
	$DefaultFW()
		font-weight: 400
	$MediumFW()
		font-weight: 500
	$SemiBoldFW()
		font-weight: 600
	$BoldFW()
		font-weight: 700
	$BolderFW()
		font-weight: 900

// TRANSITION / ANIMATION CONFIG -----------------------------------------------
	$Transition()
		transition: arguments

	$TransitionDuration()
		transition-duration: arguments

	$Animation()
		animation: arguments

	$SmoothAnimation()
		transform: translate(0,0)

	// Transition functions
	$OutCubic = cubic-bezier(.22, .61, .36, 1)
	$InOutCubic = cubic-bezier(.65, .05, .36, 1)

// FLEX CONFIG -----------------------------------------------------------------

	$AlignContent()
		justify-content: arguments
		align-content: arguments
		align-items: arguments

// DROP SHADOW CONFIG ----------------------------------------------------------
	$DropShadow(stage, theme)
		if theme is 'light'
			$border = rgba(#000, .05)
			$shadow = rgba(#000, .1 + (.0075 * stage))
		else if theme is 'dark'
			$border = rgba(#000, .25)
			$shadow = rgba(#000, .45 + (.0025 * stage))
		box-shadow:
			0 .05rem .25rem .05rem $border,
			0 .05rem * stage .1rem * stage $shadow

// GENERAL CONFIG --------------------------------------------------------------
	$DividerDark = rgba($DarkThemeBG, .15)
	$DividerLight = rgba($LightThemeBG, .15)

	$BorderRadius()
		border-radius: .2rem

	$CenterBGImage()
		background-position: center
		background-repeat: no-repeat
		background-size: cover

	$SetFilter()
		filter: arguments

	$TextSelect()
		user-select: arguments

// INITIALISE / MAIN CONFIG ----------------------------------------------------
	// Clear elements
	div, section, img,
	input, button, textarea, svg,
	span, a, p, q, b, i, label,
	h1, h2, h3, h4, h5, h6,
	.clear-el
		margin: 0
		padding: 0
		border: none
		background: none
		outline: none
		$Transition(all $OutCubic 200ms)
		box-sizing: border-box
		&:before, &:after
			margin: 0
			padding: 0
			border: none
			background: none
			outline: none
			$Transition(all $OutCubic 200ms)
			box-sizing: border-box

	html
		position: relative
		height: 100vh
		width: 100vw
		margin: 0
		padding: 0
		overflow: hidden
		background: none
		body
			position: @position
			height: @height
			width: @width
			margin: 0
			padding: 0
			font-size: 0
			$Transition(none)
			overflow: @overflow
			background: none
		#app
			position: @position
			display: flex
			height: @height
			width: @width
			margin: 0
			padding: 0
			z-index: 1
			overflow: auto
			overflow-x: hidden
			align-items: flex-start
			line-height: 1.5
			font-family: 'Montserrat', sans-serif
			-moz-osx-font-smoothing: subpixel-antialiased
			-webkit-font-smoothing: subpixel-antialiased

	.non-selectable
		$TextSelect(none)

	.center-content
		display: flex
		$AlignContent(center)

	.icon
		display: flex
		$AlignContent(center)
		$TextSelect(none)
		font-size: 1.25rem
		&.fab, &.fas, &.far
			&:before, &:after
				padding: .15rem
				font-size: 1rem
				line-height: 1

	hr
		height: 1px
		width: calc(100% - 4rem)
		margin: 2rem
		border: none
		$BorderRadius()
		flex: calc(100rem - 4rem)

// THEME CONFIG ----------------------------------------------------------------
	// Page background
		.theme-light
			background-color: $LightThemeBG
		.theme-dark
			background-color: $DarkThemeBG

	// Text select
		.theme-light
			::selection
				background-color: #000
				color: #fff
				text-decoration-color: #fff
			::-moz-selection
				background-color: #000
				color: #fff
				text-decoration-color: #fff
		.theme-dark
			::selection
				background-color: #fff
				color: #000
				text-decoration-color: #000
			::-moz-selection
				background-color: #fff
				color: #000
				text-decoration-color: #000

	// Font
		.theme-light
			span, input, button, a, q, p, b,
			pre, code, i, textarea, .monospace, label
				color: $FontColorDark
				> *
					color: @color
			input, button, a, textarea,
			h1, h2, h3, h4, h5, h6, .heading
				color: $FontColorDark
				> *
					color: @color
		.theme-dark
			span, input, button, a, q, p, b,
			pre, code, i, textarea, .monospace, label
				color: $FontColorLight
				> *
					color: @color
			input, button, a, textarea,
			h1, h2, h3, h4, h5, h6, .heading
				color: $FontColorLight
				> *
					color: @color

	// Breakline
		.theme-light
			hr, .divider
				background-color: $DividerDark
		.theme-dark
			hr, .divider
				background-color: $DividerLight

		// Sidenav toggle icon
		.theme-light
			.burger-menu .icon
				background-color: $BlueGrey
				&:before, &:after
					background-color: @background-color
		.theme-dark
			.burger-menu .icon
				background-color: $BlueGreyWhite
				&:before, &:after
					background-color: @background-color

		// Ripple effect
		.theme-light
			.ripple-container .ripple-effect
				background-color: #000
		.theme-dark
			.ripple-container .ripple-effect
				background-color: #fff

	// Cards
		.theme-light
			.card, .cards > *
				background-color: #fff
				$DropShadow(1, 'light')
			.card
				&.hoverable, &.clickable
					&:hover
						$DropShadow(5, 'light')
				&.clickable
					&:active, &:focus
						$DropShadow(10, 'light')
			.cards
				&.hoverable, &.clickable
					> *:hover
						$DropShadow(5, 'light')
				&.clickable > *
					&:active, &:focus
						$DropShadow(10, 'light')
		.theme-dark
			.card, .cards > *
				background-color: $DarkThemeBGBright
				$DropShadow(1, 'dark')
			.card
				&.hoverable, &.clickable
					&:hover
						$DropShadow(5, 'dark')
						background-color: $DarkThemeBGBright
				&.clickable
					&:active, &:focus
						$DropShadow(10, 'dark')
						background-color: $DarkThemeBGBrigher
			.cards
				&.hoverable, &.clickable
					> *:hover
						$DropShadow(5, 'dark')
						background-color: $DarkThemeBGBright
				&.clickable
					> *:focus
						$DropShadow(10, 'dark')
						background-color: $DarkThemeBGBrigher

	// Shadows
		.theme-light
			for stage in (1..25)
				.drop-shadow-{stage}
					$DropShadow(stage, 'light')
		.theme-dark
			for stage in (1..25)
				.drop-shadow-{stage}
					$DropShadow(stage, 'dark')

// TEXT FORMATING --------------------------------------------------------------
	span, input, button, a, q, .qoute, p, b, .bold, label,
	pre, code, i, textarea, .monospace, tt,
	strike, mark, u, .underline, strike, .strike
		font-family: inherit
		$DefaultFW()
		font-size: $BasicFS
		&.primary1
			color: $primary
		&.primary2
			color: $primary2

	span, input, button, a, q, p, b,
	pre, code, i, textarea, .monospace, label
		$SmoothAnimation()

	span, input, q, p, b,
	pre, code, i, .monospace, label
		$Transition(none)

	tt, .monospace
		display: inherit
		font-family: 'Inconsolata', monospace
		$BoldFW()

	code
		position: relative
		display: block
		margin: 1rem
		padding: 1rem
		$BorderRadius()
		overflow: auto
		font-family: 'Inconsolata', monospace
		$BoldFW()
		white-space: pre-wrap
		-moz-tab-size: 2rem
		-o-tab-size: 2rem
		tab-size: 2rem
		&:before
			content: '<code/>'
			position: absolute
			top: 0
			right: 0
			display: inline-block
			padding: .25rem .5rem
			font-size: .75rem
			border-bottom-left-radius: .2rem
			pointer-events: none
			background-color: inherit

	.thin-font
		$ThinFW()
		> *
			$ThinFW()
	.light-font
		$LightFW()
		> *
			$LightFW()
	.default-font
		$DefaultFW()
		> *
			$DefaultFW()
	.medium-font
		$MediumFW()
		> *
			$MediumFW()
	.bold-font
		$BoldFW()
		> *
			$BoldFW()
	.bolder-font
		$BolderFW()
		> *
			$BolderFW()

	p, .paragraph
		margin-top: .5rem
		flex: 0 0 auto
		opacity: .65

	i, .italic
		font-style: italic

	b, .bold
		$BoldFW()

	q, .quote
		font-style: italic
		padding-left: .25rem
		opacity: .5
		&:before
			content: open-quote
		&:after
			content: close-quote
		&:before
			position: relative
			top: .6rem
			right: .15rem

	u, .underline
		text-decoration: underline
	.underline
		&-dashed
			text-decoration: underline
			text-decoration-style: dashed
		&-dotted
			text-decoration: underline
			text-decoration-style: dotted
		&-wavy
			text-decoration: underline
			text-decoration-style: wavy

	strike, .strike
		opacity: .5
		text-decoration: line-through

	.theme-light, .theme-dark
		mark, .mark
			background-color: rgba($YellowLight, .75)
			color: $FontColorDark

	a.link
		position: relative
		cursor: pointer
		text-decoration: none
		$TextSelect(none)
		&:before
			$SmoothAnimation()
			content: ''
			position: absolute
			left: 0
			display: inline-block
			height: 100%
			width: 0
			border-bottom: solid .1rem
			border-color: inherit
			$Transition(width $OutCubic 300ms)
		> *
			color: inherit
		&:hover, &:active, &:focus
			&:before
				width: 100%
				$TransitionDuration(100ms)
		&.blue
			color: $Blue
			&:before
				border-color: $Blue

	a, q, .qoute, b, .bold, i, .italic
		&.adapt-to-text
			margin: 0 .25rem

	.heading,
	h1, .heading-1, h2, .heading-2, h3, .heading-3,
	h4, .heading-4, h5, .heading-5, h6, .heading-6
		$SemiBoldFW()

	h1, .heading-1 { font-size: $HeadingFS1 }
	h2, .heading-2 { font-size: $HeadingFS2 }
	h3, .heading-3 { font-size: $HeadingFS3 }
	h4, .heading-4 { font-size: $HeadingFS4 }
	h5, .heading-5 { font-size: $HeadingFS5 }
	h6, .heading-6 { font-size: $HeadingFS6; $BoldFW() }

	.display
		&-1 { font-size: $DisplayFS1; font-weight: 200 }
		&-2 { font-size: $DisplayFS2; font-weight: 200 }
		&-3 { font-size: $DisplayFS3; font-weight: 200 }
		&-4 { font-size: $DisplayFS4; font-weight: 200 }

	.subtitle
		position: relative
		line-height: 1
		$DefaultFW()
		&-1
			font-size: ($HeadingFS1 * .65)
			top: -(@font-size * .15)
			opacity: .5
		&-2
			font-size: ($HeadingFS2 * .65)
			top: -(@font-size * .15)
			opacity: .5
		&-3
			font-size: ($HeadingFS3 * .65)
			top: -(@font-size * .15)
			opacity: .5
		&-4
			font-size: ($HeadingFS4 * .65)
			top: -(@font-size * .15)
			opacity: .5
		&-5
			font-size: ($HeadingFS5 * .65)
			top: -(@font-size * .15)
			opacity: .5
		&-6
			font-size: ($HeadingFS6 * .65)
			top: -(@font-size * .15)
			opacity: .5

// GRID ------------------------------------------------------------------------
	.grid
		display: flex
		flex-flow: row wrap
		align-items: center
		> *
			flex: 0 0 auto
		&.center-content
			$AlignContent(center)
		&.flex-start-content
			$AlignContent(flex-start)
		&.flex-end-content
			$AlignContent(flex-end)
		&.adjust-content
			flex-grow: 1
			flex-shrink: 1
		&.single, > *.single
			flex: 0 0 100%
		&.half, > *.half
			flex: 0 0 50%
		&.third, > *.third
			flex: 0 0 calc(100% / 3)
		&.fourth, > *.fourth
			flex: 0 0 25%
		&.fifth, > *.fifth
			flex: 0 0 20%
		&.sixth, > *.sixth
			flex: 0 0 calc(100% / 6)

// COSTUME ---------------------------------------------------------------------

	#app
		flex-flow: row wrap
		justify-content: center
		> *
			flex: 1 1 100%

	.material-icons
		font-size: 1.25rem

	// DEBUG
	.layout-boundaries *
		outline: solid 1px $Purple !important

	header
		position: sticky
		left: 0
		top: 0
		width: 100%
		background-color: #fff
		box-shadow: 0 0 20px rgba(#000, .2)
		z-index: 100
		.logo
			display: flex
			padding: 0 1rem
			$AlignContent(center)
			align-self: stretch
			cursor: pointer
			.logo-fill
				fill: $primary
			#logo
				height: 5rem
			&:hover
				background-color: rgba($primary, .1)
		> nav
			> button, .dropdown-container > button
				position: relative
				display: flex
				padding: 2rem
				cursor: pointer
				text-transform: uppercase
				$SemiBoldFW()
				&:after
					content: ''
					position: absolute
					left: 0
					bottom: 0
					width: 80%
					height: .2rem
					border-top-left-radius: .25rem
					border-top-right-radius: .25rem
					margin: 0 10%
					transform: scaleX(0)
					background-color: $primary
				&:hover, &:active, &:focus
					&:after
						transform: scaleX(1)
				&:hover
					background-color: rgba($primary, .1)
				&:focus
					background-color: rgba($primary, .2)
				&:active
					background-color: $primary
					color: #fff
					&:after
						background-color: #fff
			.dropdown-container
				.dropdown
					left: 0
					width: 100%
					border-radius: 0
					box-shadow: none
					transform-origin: top
					transform: scaleY(.85)
					opacity: 0
					visibility: hidden
					pointer-events: none
					flex-flow: row wrap
					&:before, &:after
						content: ''
						position: absolute
						left: 0
						bottom: 0
					&:before
						width: 100%
						height: 100%
						background-color: #fff
						z-index: -1
					&:after
						width: 100%
						height: 50%
						box-shadow: 0 0 20px rgba(#000, .2)
						z-index: -2
					.category
						display: flex
						margin: 1rem
						transform: scale(1)
						cursor: pointer
						.image
							width: 12rem
							height: 9rem
							$BorderRadius()
							background-position: center
							background-repeat: no-repeat
							background-size: cover
							background-color: rgba(#000, .1)
						.label
							position: absolute
							left: 0
							bottom: 0
							width: 100%
							padding: .5rem
							text-align: center
							background-color: rgba(#fff, .75)
						&:hover
							transform: scale(1.1)
				&:hover
					.dropdown
						opacity: 1
						visibility: visible
						transform: scaleY(1)
						pointer-events: all
		> .options
			margin-left: auto
			padding: 0 1rem
			.dropdown-container
				position: relative
				margin: .5rem
				button
					display: flex
					padding: .5rem
					cursor: pointer
					$BorderRadius()
					.icon
						color: $primary
					&:hover, &.highlight
						background-color: rgba($primary, .1)
					&:focus, &:active
						background-color: $primary
						box-shadow: 0 0 0 .4rem rgba($primary, .2)
						color: #fff
						> *
							color: #fff
				.lang-flag
					width: 1.5rem
					height: 1.5rem
					margin-left: .25rem
					padding: .1rem
				.dropdown
					transform-origin: top right
					transform: scale(.85)
					pointer-events: none
					opacity: 0
					visibility: hidden
					right: 0
					&[open]
						transform: scale(1)
						pointer-events: all
						opacity: 1
						visibility: visible
					&.user-dropdown > .grid
						flex-flow: row wrap
						> .input-container
							display: flex
							margin-bottom: 1rem
							align-items: center
							flex: 1 1 100%
							.icon
								margin: .5rem
								color: $primary
							input
								padding: .5rem
								text-overflow: ellipsis
						> .options
							display: flex
							margin-top: 1rem
							flex: 1 1 100%
							justify-content: space-between
							flex-direction: row-reverse
							button
								padding: .5rem 1rem
					.user-profile
						> .grid
							flex: 1 1 auto
							flex-flow: row nowrap
						.image
							width: 3rem
							height: @width
							margin-right: 1rem
							background-position: center
							background-repeat: no-repeat
							background-size: cover
							background-color: rgba(#000, .1)
							border-radius: 50%
						.user-data
							padding-right: 3rem
							flex: 1 1 auto
							align-content: center
							.name
								flex: 1 1 100%
								font-weight: 700
							.email
								flex: 1 1 100%
								font-size: .85rem
								opacity: .5
						button
							display: flex
							margin-top: 1rem
							padding: .5rem 1rem
							flex: 1 1 100%
							align-items: center
							> *
								margin-left: .5rem
								&:first-child
									margin: 0
							.icon
								margin-right: .5rem
					&.basket-dropdown
						flex-flow: row wrap
					&.lang-dropdown
						display: flex
						padding: .5rem 0
						transform-origin: top
						transform: scaleY(.85)
						flex-flow: row wrap
						&[open]
							transform: scaleY(1)
						.option
							display: flex
							padding: .5rem 1rem
							flex-flow: row nowrap
							flex: 1 1 auto
							cursor: pointer
							.lang-flag
								margin: 0 1rem 0 0
							&:hover
								background-color: rgba($primary, .1)
							&:active
								background-color: $primary
								> *
									color: #fff

	article
		display: flex
		min-height: 100vh
		flex-flow: row wrap
		> section
			flex: 1 1 100%
		#banner
			position: relative
			display: flex
			height: calc(100vh - 5rem)
			justify-content: center
			&-image
				position: absolute
				left: 0
				top: 0
				width: 100%
				height: 100%
				background-position: center
				background-repeat: no-repeat
				background-size: cover
				z-index: -1
			&-info
				position: absolute
				bottom: 10%
			&-title
				margin-bottom: 2rem
				padding: 1rem
				text-align: center
				font-size: 4rem
				$DefaultFW()
				color: #fff
				text-transform: uppercase
				line-height: 1
				text-shadow: 0 0 50px #000, 0 0 50px #000
			&-button
				display: flex
				$AlignContent(center)
				margin: auto
				padding: .5rem 1rem
				background-color: #fff
				cursor: pointer
				.icon
					$Transition(all $OutCubic 150ms)
				&:hover .icon
					margin-left: 1rem
		#magazin
			display: flex
			padding: 1rem
			$AlignContent(center)
			background-color: $primary
			cursor: pointer
			> *
				color: #fff
		#product-slider
			align-items: baseline
			.product
				display: flex
				padding: 4rem
				flex-flow: row wrap
				justify-content: center
				text-align: center
				flex: 0 1 calc(100% / 5)
				cursor: pointer
				.image
					width: 100%
					height: 100%
					flex: 1 1 @width
					z-index: -1
				.name, .old-price, .new-price
					opacity: .3
				.name
					flex: 1 1 100%
				.old-price
					margin-right: 1rem
					text-decoration: line-through
				.new-price
					color: #ff0050
				&:hover
					transform: scale(1.1)
					.name, .old-price, .new-price
						opacity: 1
		#testo
			max-width: 75%
			margin: auto
			> *
				position: relative
				margin: 4rem
				justify-content: center
				text-align: center
				overflow: hidden
				cursor: pointer
				&.single
					flex: 1 1 100%
				&.half
					flex: 0 1 calc(50% - 4rem * 2)
				&.third
					flex: 0 1 calc(100% / 3 - 4rem * 2)
				img, video
					width: 100%
					$Transition(all $OutCubic 300ms)
					transform: scale(1)
				.label
					position: absolute
					left: 0
					bottom: 0
					display: flex
					width: 100%
					height: 2.5rem
					background-color: rgba($primary, 0.9)
					$AlignContent(center)
					color: #fff
					$Transition(all $OutCubic 300ms)
					.icon, span
						color: #fff
						$Transition(all $OutCubic 300ms)
				&:hover
					box-shadow: 0 0 0 .5rem rgba($primary, .1)
					img, video
						transform: scale(1.05)
					.label
						height: 100%
						.icon
							margin-left: .5rem
		#reasons
			max-width: 75%
			margin: auto
			padding: 8rem 0
			align-items: baseline
			.container
				padding: 0 2rem
				flex: 1 1 (100% / 4)
				justify-content: center
				img
					margin-bottom: 2rem
				h5, p
					flex: 1 1 100%
		#about-textures
			display: flex
			padding: 8rem 2rem
			flex-flow: row nowrap
			> *
				margin: 0 4rem
				flex: 1 1 calc(00% / 6)
				transform: scale(1)
				cursor: pointer
				img
					width: 100%
				.name
					display: block
					margin-top: 1rem
					text-align: center
				&:hover
					transform: scale(1.1)
				

	footer
		display: flex
		width: 100%
		margin-top: auto
		flex-flow: row wrap
		align-content: flex-start
		align-items: stretch
		background-color: rgba(#000, .05)
		> *
			padding: 2rem
			flex: 1 1 (100% / 5)
			&:last-child
				margin: 0
			.title
				margin-bottom: .5rem
		#pay-methods, #contact, #service,
		#about-vivobarefoot, #newsletter
			display: flex
			flex-flow: row wrap
			align-content: flex-start
			align-items: flex-start
			> *
				flex: 1 1 100%
		.header
			display: flex
			padding: 4rem
			flex-flow: row wrap
			flex: 1 1 100%
			justify-content: center
			#logo
				height: 4rem
				.logo-fill
					fill: $primary
			#social
				display: flex
				margin-top: .5rem
				flex-flow: row nowrap
				flex: 1 1 100%
				justify-content: center
				> *
					width: 2rem
					height: 2rem
					margin: 0 .25rem
					background-position: center
					background-repeat: no-repeat
					background-size: contain
					cursor: pointer
					transform: scale(1)
					transition-duration: 300ms
					&:hover
						transform: scale(1.5)
						margin: 0 1rem
		#pay-methods
			justify-content: center
			> .title
				text-align: center
			> .method
				display: flex
				height: 3rem
				margin: .5rem
				padding: 1rem
				flex: 1 1 auto
				$AlignContent(center)
				$BorderRadius()
				$Transition(all $OutCubic 200ms)
				cursor: pointer
				img
					height: 100%
				&:hover
					background-color: rgba(#000, .1)
		#contact a
			color: $primary
		#service, #about-vivobarefoot
			a
				position: relative
				display: flex
				align-items: center
				text-decoration: none
				color: $primary
				&:before
					content: ''
					position: relative
					width: 0rem
					height: .1rem
					background-color: $primary
				&:hover
					&:before
						width: .5rem
						margin-right: .5rem
		#newsletter
			> .input-container
				display: flex
				margin-top: 1rem
				flex-flow: row nowrap
			> *
				flex: 1 1 auto
			input
				margin: 1rem 0
				padding: .5rem
				$BorderRadius()
				background-color: rgba(#000, .05)
				$Transition(all $OutCubic 200ms)
				&:hover
					box-shadow: 0 0 0 1px rgba(#000, .2)
				&:focus
					box-shadow:
						0 0 0 1px $primary,
						0 0 0 .4rem rgba($primary, .2)
			button
				display: flex
				padding: .5rem 1rem
				cursor: pointer
				$BorderRadius()
				background-color: rgba($primary, .1)
				&:hover
					background-color: $primary
					color: #fff
				&:active, &:focus
					background-color: $primary
					box-shadow: 0 0 0 .4rem rgba($primary, .2)
					color: #fff
		#more-info
			display: flex
			flex-flow: row wrap
			flex: 1 1 100%
			> *
				flex: 1 1 auto
			#certificate-badge
				margin-right: 2rem
				flex: 0 0 auto
				img
					height: 5rem
			.texts
				> *
					display: flex
					flex: 1 1 100%
				.flag
					font-size: $SmallFS4
					$BoldFW()
				span
					font-size: $SmallFS2
		.footer
			flex: 1 1 100%
			justify-content: space-between
			.links > *
				margin-left: 1rem
				color: $primary
				&:first-child
					margin: 0
			#copyright
				text-align: center
				font-size: $SmallFS2
				$BoldFW()

	.dropdown
		position: absolute
		display: flex
		padding: 1rem
		$BorderRadius()
		background-color: #fff
		box-shadow: 0 0 10px rgba(#000, .2)
